body {
    margin: 0;
}
nav {
    background: rgb(231, 252, 255);
    overflow: hidden;
    margin: 0 auto;
    border-bottom: 3px solid white;
}
nav li {
    float: right;
    list-style-type: none;
}
nav div {
    margin-right: 40px;
}
nav a {
    color: black;
    float: right;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 22px;
    display: border-box;
    border: 3px solid rgb(231, 252, 255);
}
nav a:hover {
    border: 3px solid hsl(204, 100%, 88%);
    color: hsl(204, 100%, 88%);
}

.header {
    height: 50vh;
    width: 99vw;
    margin: 0 auto;
    text-align: center;
    background-image: url("https://i.ibb.co/7gpjs8N/emotionheader-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}
.header .header-text {
    color: white;
    text-shadow: 0px .3px black;
    text-align: center;
    font-weight: 700;
    font-size: 27px;
    margin-top: 75px;
}
.header span {
    font-size: 100px;
    font-family: Cambria;
}
.header button {
    font-size: 20px;
    margin-top: 20px;
    background: white;
    border: none;
    border-radius: 2px;
    width: 100px;
    height: 50px;
}
.header button:hover {
    border-radius: 3px;
    border: 1px solid hsl(204, 100%, 88%);
    color: hsl(204, 100%, 88%);
    cursor: pointer;
}

.about {
    background: rgb(231, 252, 255);
    border-top: 3px solid white;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    width: 99vw;
    height: 400px;
    text-align: center;
    color: rgb(24, 24, 24);
}
.about h1 {
    font-size: 35px;
    margin-top: 30px;
}
.about p {
    margin: 0 auto;
    width: 800px;
    font-size: 20px;
}